ul.box-promotion
  li 
    h2.box-promotion-title B1 - G1
  li
    p.box-promotion-first-text-promo Buy 1 Get 1 Free
  li
    p.box-promotion-second-text-promo 5 days only on store
  a(href="javascript:void(0)", class="box-promotion-link") Shop now