ul.categories-item-ul
  .container-category-title
    h3.category-title Categories
    img(src="/assets/hamburger-menu/hamburger-menu.png", class="category-hamburger-menu")
  li.category-item-li Furniture 
    img(src="/assets/arrow/arrow.png", class="arrow-category")
    ul.furniture-sidebar-sub-menu 
      li.furniture-sidebar-sub-menu-li Table 
        img(src="/assets/arrow/arrow.png", class="arrow-submenu-category")
        ul.furniture-sidebar-sub-menu-table
          li.furniture-sidebar-sub-menu-li Computer Table
          li.furniture-sidebar-sub-menu-li Dining Table
          li.furniture-sidebar-sub-menu-li Study Table
  li.category-item-li Desks 
    img(src="/assets/arrow/arrow.png", class="arrow-category")
    ul.furniture-sidebar-sub-menu 
      li.furniture-sidebar-sub-menu-li Pero
  li.category-item-li Chair 
    img(src="/assets/arrow/arrow.png", class="arrow-category")
    ul.furniture-sidebar-sub-menu 
      li.furniture-sidebar-sub-menu-li Tools
      li.category-item-li Dog Bed