ul
  li.sidebar.hidden-in-mobile.clearfix
    ul.categories-item-ul
      .container-category-title
        h3.category-title Categories
        img(src="/assets/hamburger-menu/hamburger-menu.png", class="category-hamburger-menu")
      li.category-item-li Furniture 
        img(src="/assets/arrow/arrow.png", class="arrow-category")
        include ./sidebar-menu.pug
        include ./offer.pug   
        include ./testimonial.pug   
        include ./box-promotion.pug   
        include ./ads.pug   
      li.products.clearfix
        .products-tab.clearfix
          ul.products-tab-item-ul
            li.products-tab-item
              a(href="javascript:void(0)", class="products-tab-link is-active-tab") Popular Products
            li.products-tab-item
              a(href="javascript:void(0)", class="products-tab-link") Latest Products
            li.products-tab-item
              a(href="javascript:void(0)", class="products-tab-link") Best Sellers
        .products-border.clearfix
          ul.products-item-ul
            li.products-item-li.one1
              img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/4/9/149-home_default.jpg", class="products-img 1")
              img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/5/0/150-home_default.jpg", class="products-img-hovered 1")
              .products-info-hovered.one1
                .products-info-add-to-cart.one1.hidden-in-mobile
                  a(href="javascript:void(0)", class="products-info-add-to-cart-link") Add to Cart
                .products-info-eye-quick-view.one1.hidden-in-mobile
                  p.products-info-eye-quick-view-text Quick View
                .products-info-eye-style.one1.hidden-in-mobile
                  img(src="/assets/eye/eye.png", class="products-info-eye-style-img 1")
                .products-info-text.one1
                  span.products-info-text-new New
                  p.products-info-text-new-onsale On Sale !
                .products-info-rate.one1
                  img(src="/assets/star/star-fill.png", class="products-info-rate-img")
                  img(src="/assets/star/star-fill.png", class="products-info-rate-img")
                  img(src="/assets/star/star-fill.png", class="products-info-rate-img")
                  img(src="/assets/star/star-fill.png", class="products-info-rate-img")
                  img(src="/assets/star/star-fill.png", class="products-info-rate-img")
                .products-description.one1
                  p.products-item-title Lorem Ipsum Dolor
                  p.products-price-and-shipping $23.90
            li.products-item-li.two2
              img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/5/4/154-home_default.jpg", class="products-img 2")
              img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/5/7/157-home_default.jpg", class="products-img-hovered 2")
              .products-info-hovered.two2
                .products-info-add-to-cart.two2.hidden-in-mobile
                  a(href="javascript:void(0)", class="products-info-add-to-cart-link") Add to Cart
                .products-info-eye-quick-view.two2.hidden-in-mobile
                  p.products-info-eye-quick-view-text Quick View
                .products-info-eye-style.two2.hidden-in-mobile
                  img(src="/assets/eye/eye.png", class="products-info-eye-style-img 2")
                .products-info-text.two2
                  span.products-info-text-new New
                  p.products-info-text-new-onsale On Sale !
                  .products-info-rate.two2
                    img(src="/assets/star/star-fill.png", class="products-info-rate-img")
                    img(src="/assets/star/star-fill.png", class="products-info-rate-img")
                    img(src="/assets/star/star-fill.png", class="products-info-rate-img")
                    img(src="/assets/star/star-fill.png", class="products-info-rate-img")
                    img(src="/assets/star/star-fill.png", class="products-info-rate-img")
                  .products-description.two2
                    p.products-item-title Lorem Ipsum Dolor
                    p.products-price-and-shipping $23.90
            li.products-item-li.three3
              img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/5/9/159-home_default.jpg", class="products-img 3")
              img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/6/2/162-home_default.jpg", class="products-img-hovered 3")
              .products-info-hovered.three3
                .products-info-add-to-cart.three3.hidden-in-mobile
                  a(href="javascript:void(0)", class="products-info-add-to-cart-link") Add to Cart
                .products-info-eye-quick-view.three3.hidden-in-mobile
                  p.products-info-eye-quick-view-text  Quick View
                .products-info-eye-style.three3.hidden-in-mobile
                  img(src="/assets/eye/eye.png", class="products-info-eye-style-img 3")
                .products-info-text.three3
                  span.products-info-text-new New
                  p.products-info-text-new-onsale On Sale !
                .products-info-rate.three3
                  img(src="/assets/star/star-fill.png", class="products-info-rate-img")
                  img(src="/assets/star/star-fill.png", class="products-info-rate-img")
                  img(src="/assets/star/star-fill.png", class="products-info-rate-img")
                  img(src="/assets/star/star-fill.png", class="products-info-rate-img")
                  img(src="/assets/star/star-fill.png", class="products-info-rate-img")
                .products-description.three3
                  p.products-item-title Lorem Ipsum Dolor
                  p.products-price-and-shipping $23.90
            li.products-item-li.fourth4
              img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/6/4/164-home_default.jpg", class="products-img 4")
              img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/6/8/168-home_default.jpg", class="products-img-hovered 4")
              .products-info-hovered.fourth4
                .products-info-add-to-cart.fourth4.hidden-in-mobile
                  a(href="javascript:void(0)", class="products-info-add-to-cart-link") Add to Cart
                .products-info-eye-quick-view.fourth4.hidden-in-mobile
                  p.products-info-eye-quick-view-text  Quick View
                .products-info-eye-style.fourth4.hidden-in-mobile
                  img(src="/assets/eye/eye.png", class="products-info-eye-style-img 4")
                .products-info-text.fourth4
                  span.products-info-text-new New
                  p.products-info-text-new-onsale On Sale !
                .products-info-rate.fourth4
                  img(src="/assets/star/star-fill.png", class="products-info-rate-img")
                  img(src="/assets/star/star-fill.png", class="products-info-rate-img")
                  img(src="/assets/star/star-fill.png", class="products-info-rate-img")
                  img(src="/assets/star/star-fill.png", class="products-info-rate-img")
                  img(src="/assets/star/star-fill.png", class="products-info-rate-img")
                .products-description.fourth4
                  p.products-item-title Lorem Ipsum Dolor
                  p.products-price-and-shipping $23.90
              .discount-banner
                .discount-banner-onsale-shape.hidden-in-mobile
                  p.discount-banner-onsale-shape-description ON SALE
                .container-discount-banner-img
                    img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/cms/banner.jpg", class="banner-img")
                    .discount-banner-description
                      .discount-banner-title
                        a(href="javascript:void(0)", class="banner-title-link") Flate   
                          span.banner-price 30% Off 
                          | Trending Season 
                      .discount-banner-desc
                        p.banner-detail your order boxed 30 minutes to deliver
                      .discount-banner-button.hidden-in-mobile
                        a(href="javascript:void(0)", class="discount-banner-link")  Buy now
          .products-onsale.clearfix
            h4.products-onsale-title OTHER PRODUCTS
            ul.products-item-ul-onsale
              li.products-item-li-onsale.one1
                img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/4/9/149-home_default.jpg", class="products-img-onsale 1")
                img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/5/0/150-home_default.jpg", class="products-img-hovered-onsale 1")
                .products-info-hovered-onsale.one1
                  .products-info-add-to-cart-onsale.one1.hidden-in-mobile
                    a(href="javascript:void(0)", class="products-info-add-to-cart-link-onsale") Add to Cart 
                  .products-info-eye-quick-view-onsale.one1.hidden-in-mobile
                    p.products-info-eye-quick-view-onsale-text Quick View
                  .products-info-eye-style-onsale.one1.hidden-in-mobile 
                    img(src="/assets/eye/eye.png", class="products-info-eye-style-img-onsale 1")
                  .products-info-text-onsale.one1
                    span.products-info-text-new New
                    p.products-info-text-new-onsale On Sale!
                  .products-info-rate-onsale.one1
                    img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
                    img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
                    img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
                    img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")        
                    img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")    
                  .products-description-onsale.one1
                    p.products-item-title-onsale Lorem Ipsum Dolor
                  p.products-price-and-shipping-onsale $23.90
              li.products-item-li-onsale.two2
                img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/4/9/149-home_default.jpg", class="products-img-onsale 2")
                img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/5/0/150-home_default.jpg", class="products-img-hovered-onsale 2")
                .products-info-hovered-onsale.two2
                  .products-info-add-to-cart-onsale.two2.hidden-in-mobile
                    a(href="javascript:void(0)", class="products-info-add-to-cart-link-onsale") Add to Cart 
                  .products-info-eye-quick-view-onsale.two2.hidden-in-mobile
                    p.products-info-eye-quick-view-onsale-text Quick View
                  .products-info-eye-style-onsale.two2.hidden-in-mobile 
                    img(src="/assets/eye/eye.png", class="products-info-eye-style-img-onsale 2")
                  .products-info-text-onsale.two2
                    span.products-info-text-new New
                    p.products-info-text-new-onsale On Sale!
                  .products-info-rate-onsale.two2
                    img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
                    img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
                    img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
                    img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")        
                    img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")    
                  .products-description-onsale.two2
                    p.products-item-title-onsale Lorem Ipsum Dolor
                    p.products-price-and-shipping-onsale $23.90
              li.products-item-li-onsale.three3
                img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/4/9/149-home_default.jpg", class="products-img-onsale 3")
                img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/5/0/150-home_default.jpg", class="products-img-hovered-onsale 3")
                .products-info-hovered-onsale.three3
                  .products-info-add-to-cart-onsale.three3.hidden-in-mobile
                    a(href="javascript:void(0)", class="products-info-add-to-cart-link-onsale") Add to Cart 
                  .products-info-eye-quick-view-onsale.three3.hidden-in-mobile
                    p.products-info-eye-quick-view-onsale-text Quick View
                  .products-info-eye-style-onsale.three3.hidden-in-mobile 
                    img(src="/assets/eye/eye.png", class="products-info-eye-style-img-onsale 3")
                  .products-info-text-onsale.three3
                    span.products-info-text-new New
                    p.products-info-text-new-onsale On Sale!
                  .products-info-rate-onsale.three3
                    img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
                    img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
                    img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
                    img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")        
                    img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")    
                  .products-description-onsale.three3
                    p.products-item-title-onsale Lorem Ipsum Dolor
                    p.products-price-and-shipping-onsale $23.90
              li.products-item-li-onsale.fourth4
                img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/4/9/149-home_default.jpg", class="products-img-onsale 4")
                img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/5/0/150-home_default.jpg", class="products-img-hovered-onsale 4")
                .products-info-hovered-onsale.fourth4
                  .products-info-add-to-cart-onsale.fourth4.hidden-in-mobile
                    a(href="javascript:void(0)", class="products-info-add-to-cart-link-onsale") Add to Cart 
                  .products-info-eye-quick-view-onsale.fourth4.hidden-in-mobile
                    p.products-info-eye-quick-view-onsale-text Quick View
                  .products-info-eye-style-onsale.fourth4.hidden-in-mobile 
                    img(src="/assets/eye/eye.png", class="products-info-eye-style-img-onsale 4")
                  .products-info-text-onsale.fourth4
                    span.products-info-text-new New
                    p.products-info-text-new-onsale On Sale!
                  .products-info-rate-onsale.fourth4
                    img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
                    img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
                    img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
                    img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")        
                    img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")    
                  .products-description-onsale.fourth4
                    p.products-item-title-onsale Lorem Ipsum Dolor
                    p.products-price-and-shipping-onsale $23.90
                    .products-other-onsale.clearfix
                      ul.products-item-other-onsale
                        li.sub-banner
                          ul.sub-banner-content
                            li.sub-banner-content-li
                              .banner-inner
                                a(href="javascript:void(0)", class="banner-inner-link") #[img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/cms/sub-banner-1.jpg", class="banner-inner-img")]
                                .products-item-other-onsale-detail
                                  p.products-item-other-onsale-detail-title Fully Satisfied
                                  p.products-item-other-onsale-detail-description SALE 50% ALL SOFA
                            li.sub-banner-content-li
                              .banner-inner
                                a(href="javascript:void(0)", class="banner-inner-link") #[img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/cms/sub-banner-2.jpg", class="banner-inner-img")]
                                .products-item-other-onsale-detail
                                  p.products-item-other-onsale-detail-title Capri Wooden chair
                                  p.products-item-other-onsale-detail-description WEDDING FLOWERS
                    .swiper-container.blog-latest.clearfix
                      h2.blog-latest-title Latest Post
                      .swiper-blog-arrow
                        .swiper-blog-arrow-left
                          img(src="/assets/arrow-left/arrow-left.png", class="swiper-blog-arrow-left-img")
                        .swiper-blog-arrow-right
                          img(src="/assets/arrow-right/arrow-right.png", class="swiper-blog-arrow-right-img")
                          .swiper-wrapper.blog-latest
                            .swiper-slide.blog-latest
                              .blog-latest-container
                                .blog-latest-img-container
                                  img(src="/assets/images/art-chairs-color.jpg", class="blog-latest-img")
                                  span.blog-created 
                                    time.blog-date Dec 2018
                                  .blog-inner    
                                    .blog-user-inner
                                      h4.blog-title Urna pretium elit mauris cursus...
                                    .blog-user-icon
                                      img(src="/assets/user/user.png", class="user-icon-img")
                                      span Admin Admin
                                    .blog-love-icon
                                      img(src="/assets/love/love.png", class="love-icon-img")
                                      span Hit: 136
                            .swiper-slide.blog-latest
                              .blog-latest-container
                                .blog-latest-img-container
                                  img(src="/assets/images/art-chairs-color.jpg", class="blog-latest-img")
                                  span.blog-created 
                                    time.blog-date Dec 2018
                                .blog-inner    
                                  .blog-user-inner
                                    h4.blog-title Urna pretium elit mauris cursus...
                                  .blog-user-icon
                                    img(src="/assets/user/user.png", class="user-icon-img")
                                    span Admin Admin
                                  .blog-love-icon
                                    img(src="/assets/love/love.png", class="love-icon-img")
                                    span Hit: 136
                            .swiper-slide.blog-latest
                              .blog-latest-container
                                .blog-latest-img-container
                                  img(src="/assets/images/art-chairs-color.jpg", class="blog-latest-img")
                                  span.blog-created 
                                    time.blog-date Dec 2018
                                .blog-inner    
                                  .blog-user-inner
                                    h4.blog-title Urna pretium elit mauris cursus...
                                  .blog-user-icon
                                    img(src="/assets/user/user.png", class="user-icon-img")
                                    span Admin Admin
                                  .blog-love-icon
                                    img(src="/assets/love/love.png", class="love-icon-img")
                                    span Hit: 136
                            .swiper-slide.blog-latest
                              .blog-latest-container
                                .blog-latest-img-container
                                  img(src="/assets/images/art-chairs-color.jpg", class="blog-latest-img")
                                  span.blog-created 
                                    time.blog-date Dec 2018
                                  .blog-inner    
                                    .blog-user-inner
                                      h4.blog-title Urna pretium elit mauris cursus...
                                    .blog-user-icon
                                      img(src="/assets/user/user.png", class="user-icon-img")
                                      span Admin Admin
                                    .blog-love-icon
                                      img(src="/assets/love/love.png", class="love-icon-img")
                                      span Hit: 136
                            .swiper-container.brands
                              .swiper-wrapper.brands
                                .swiper-slide.brands
                                  img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/m/2.jpg", class="brands-image")
                                .swiper-slide.brands
                                  img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/m/2.jpg", class="brands-image")            
                                .swiper-slide.brands
                                  img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/m/2.jpg", class="brands-image")     
                                .swiper-slide.brands
                                  img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/m/2.jpg", class="brands-image")
                                .swiper-slide.brands
                                  img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/m/2.jpg", class="brands-image")
                                .swiper-slide.brands
                                  img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/m/2.jpg", class="brands-image")
                              .swiper-brands-arrow
                                .swiper-brands-arrow-right
                                  img(src="/assets/arrow-right/arrow-right.png", class="swiper-brands-arrow-right-img")
                                .swiper-brands-arrow-left
                                  img(src="/assets/arrow-left/arrow-left.png", class="swiper-brands-arrow-left-img") 