ul.container-create-account-and-sign-in-and-search
  li.create-account-and-sign-in-and-search-item
    a(href="javascript:void(0)", class="create-account") Create Account
  li.create-account-and-sign-in-and-search-item
    a(href="javascript:void(0)", class="sign-in") Sign in
  li.create-account-and-sign-in-and-search-item
    .container-box-search
      img(src="/assets/search/search.png", class="box-search-img")
    .container-input-search
      input(type="text", placeholder="Search our products", class="input-search")
      .container-input-search-img
        img(src="/assets/search/search.png", class="input-search-img")