.discount-banner
  .discount-banner-onsale-shape.hidden-in-mobile
    p.discount-banner-onsale-shape-description ON SALE
  .container-discount-banner-img
    img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/cms/banner.jpg", class="banner-img")
    .discount-banner-description
      .discount-banner-title
        a(href="javascript:void(0)", class="banner-title-link") Flate   
          span.banner-price 30% Off 
          | Trending Season 
      .discount-banner-desc
        p.banner-detail your order boxed 30 minutes to deliver
      .discount-banner-button.hidden-in-mobile
        a(href="javascript:void(0)", class="discount-banner-link")  Buy now