.footer.clearfix
  .container
    ul 
      li.col-newsletter
        h3.title-newsletter NEWSLETTER
        .footer-news-inner
          .container-subs
            img(src="/assets/plane/plane.png", class="subs-img")
          .container-news-inner-email-input
            input(type="text", placeholder="Your email address", class="news-inner-email-input")
        ul.footer-socmed-icons.clearfix
          li.footer-socmed-icons-item
            .icon-facebook
              img(src="/assets/icons/icon-facebook.png", class="icon-facebook-img")
          li.footer-socmed-icons-item
            .icon-twitter
              img(src="/assets/icons/icon-twitter.png", class="icon-twitter-img")
          li.footer-socmed-icons-item
            .icon-youtube
              img(src="/assets/icons/icon-youtube.png", class="icon-youtube-img")
          li.footer-socmed-icons-item
            .icon-google
              img(src="/assets/icons/icon-google-plus.png", class="icon-google-img")
          li.footer-socmed-icons-item
            .icon-instagram
              img(src="/assets/icons/icon-instagram.png", class="icon-instagram-img")
      li.hidden-in-desktop
        .cc-mobile-container.clearfix.hidden-in-desktop
          img(src="/assets/credit-cards/visa.png", class="cc-item-img cc-visa")
          img(src="/assets/credit-cards/paypal.png", class="cc-item-img cc-paypal")
          img(src="/assets/credit-cards/master-card.png", class="cc-item-img cc-master-card")
          img(src="/assets/credit-cards/2checkout.png", class="cc-item-img cc-2co")
          img(src="/assets/credit-cards/cirrus.png", class="cc-item-img cc-cirrus")
        .col-personal-info.hidden-in-desktop
          span.text-personal-info Personal info
          span.text-orders Orders
          span.text-credit-slips Credit slips
          span.text-addresses Addresses
        .col-copyright
          span.text-mobile-copyright © 2019 - Furniture Shop by Reihan Agam
      li.col-cc-and-account-list.hidden-in-mobile
        ul.cc-container.hidden-in-mobile
          li.cc-item
            img(src="/assets/credit-cards/visa.png", class="cc-item-img")
          li.cc-item
            img(src="/assets/credit-cards/paypal.png", class="cc-item-img")
          li.cc-item
            img(src="/assets/credit-cards/master-card.png", class="cc-item-img")
          li.cc-item
            img(src="/assets/credit-cards/2checkout.png", class="cc-item-img")
          li.cc-item
            img(src="/assets/credit-cards/cirrus.png", class="cc-item-img")
        ul.account-list-container.hidden-in-mobile
          li.account-list-item Personal info
          li.account-list-item Orders
          li.account-list-item Credit slips
          li.account-list-item Addresses
          li.account-list-item.copyright © 2019 - Furniture Shop by Reihan Agam