head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="/assets-dev/css/swiper/swiper.css")
  link(rel="stylesheet", href="/assets-dev/css/swiper/swiper.min.css")
  link(rel="stylesheet", href="/assets/css/main.min.css")
  title Furniture Shop