ul.container-language-and-currency
  li.language-and-currency-item
    .container-language
      span.display-language English 
      img(src="/assets/arrow-white/arrow-white.png", class="arrow-language")
    ul.container-language-item
      li English
      li Espanol
      li Francais
      Ii Italiano 
      li Nederlands
      li Deutsch 
  li.language-and-currency-item
    .container-currency
      span.display-currency | USD $ 
      img(src="/assets/arrow-white/arrow-white.png", class="arrow-currency")
    ul.container-currency-item
      li EUR
      li USD