.left-menu-mobile.hidden-in-desktop
  ul.furniture-ul-mobile-menu
    li.furniture-li-mobile-menu #[.furniture-btn Furniture]
      ul.furniture-sub-ul-mobile-menu
        .furniture-sub-li-mobile-menu-1 #[.furniture-table-btn Table]
          ul.table-ul
            li.table-li Computer Table
            li.table-li Dining Table
            li.table-li Study Table
        .furniture-sub-li-mobile-menu-2 #[.furniture-chair-btn Chair]
          ul.chair-ul
            li.chair-li Baxter
            li.chair-li Boone
            li.chair-li Heney
        .furniture-sub-li-mobile-menu-3 #[.furniture-sofa-set-btn Sofa Set] 
          ul.sofa-set-ul
            li.sofa-set-li Fabric Sofa
            li.sofa-set-li HuntBoard
            li.sofa-set-li beadboard
    li.furniture-table-li-mobile-menu #[.table-btn Table] 
      ul.furniture-table-sub-ul-mobile-menu
        li.furniture-table-sub-li-mobile-menu Computer Table 
        li.furniture-table-sub-li-mobile-menu Dining Table 
        li.furniture-table-sub-li-mobile-menu Study Table
    li.furniture-chair-li-mobile-menu #[.chair-btn Chair]  
      ul.furniture-chair-sub-ul-mobile-menu
        li.furniture-chair-sub-li-mobile-menu Tools 
    li.furniture-desks-li-mobile-menu #[.desks-btn Desks]
      ul.furniture-desks-sub-ul-mobile-menu
        li.furniture-sub-li-mobile-menu Pero 
    li.furniture-dog-bed-li-mobile-menu Dog Bed
  select(style="display:block; padding: 5px; border: 1px solid #eeeeee; margin: 12px 0 0 6%")
    option USD
    option EUR
  select(style="display:block; padding: 5px; border: 1px solid #eeeeee; margin: 12px 0 0 6%")
    option ENGLISH
    option ESPANOL
    option FRANCAIS
    option ITALIANO
    option NEDERLANDS
    option DEUTSCH