li.furniture-mega-menu-li 
  a(href="javascript:void(0)") Furniture
    .furniture-mega-menu
      ul.furniture-mega-menu-ul
        li.furniture-mega-menu-child-li
          .furniture-mega-table-sub-menu
            a(href="javascript:void(0)", class="furniture-mega-table-sub-menu-title") Table
              ul.furniture-mega-table-sub-menu-ul
                li.furniture-mega-table-sub-menu-li
                  a(href="javascript:void(0)", class="furniture-mega-table-sub-menu-link") Computer Table
                li.furniture-mega-table-sub-menu-li
                  a(href="javascript:void(0)", class="furniture-mega-table-sub-menu-link") Dining Table
                li.furniture-mega-table-sub-menu-li
                  a(href="javascript:void(0)", class="furniture-mega-table-sub-menu-link") Study Table                                        
        li.furniture-mega-menu-child-li
          ul.furniture-mega-chair-sub-menu
            a(href="javascript:void(0)", class="furniture-mega-chair-sub-menu-title") Chair
              ul.furniture-mega-chair-sub-menu-ul
                li.furniture-mega-chair-sub-menu-li
                  a(href="javascript:void(0)", class="furniture-mega-chair-sub-menu-link") Baxter
                li.furniture-mega-chair-sub-menu-li 
                  a(href="javascript:void(0)", class="furniture-mega-chair-sub-menu-link") Boone
                li.furniture-mega-chair-sub-menu-li 
                  a(href="javascript:void(0)", class="furniture-mega-chair-sub-menu-link") Heney                
        li.furniture-mega-menu-child-li
          ul.furniture-mega-sofa-set-sub-menu
            a(href="javascript:void(0)", class="furniture-mega-sofa-set-sub-menu-title") Sofa-Set
              ul.furniture-mega-sofa-set-sub-menu-ul
                li.furniture-mega-chair-sofa-set-sub-menu-li 
                  a(href="javascript:void(0)", class="furniture-mega-sofa-set-sub-menu-link") Fabric Sofa
                li.furniture-mega-chair-sofa-set-sub-menu-li 
                  a(href="javascript:void(0)", class="furniture-mega-sofa-set-sub-menu-link") HuntBoard
                li.furniture-mega-chair-sofa-set-sub-menu-li 
                  a(href="javascript:void(0)", class="furniture-mega-sofa-set-sub-menu-link") Beadboard
