.menu.hidden-in-mobile
  ul
    include ./mega-menu.pug
    li.furniture-table-menu-li
      a(href="javascript:void(0)") Table
        .furniture-table-menu
          ul.furniture-table-menu-ul
            li 
              a(href="havascript:void(0)", class="furniture-table-menu-link") Computer Table  
            li 
              a(href="havascript:void(0)", class="furniture-table-menu-link") Dining Table  
            li 
              a(href="havascript:void(0)", class="furniture-table-menu-link") Study Table  
    li.furniture-chair-menu-li  
      a(href="javascript:void(0)") Chair
        .furniture-chair-menu
          ul.furniture-chair-menu-ul
            li
              a(href="javascript:void(0)", class="furniture-chair-menu-link") Chair        
    li.furniture-desk-menu-li
      a(href="javascript:void(0)") Desks
        .furniture-desk-menu
          ul.furniture-desk-menu-ul
            li
              a(href="javascript:void(0)", class="furniture-desk-menu-link") Pero
    li 
      a(href="javascript:void(0)") Dog Bed
    .container-badge
        .container-badge-bag-item
            img(src="/assets/bag/bag.png", class="badge-bag-img")
            .number-badge 0