.modal.products
  .modal-products-container-img
    img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/4/9/149-home_default.jpg", class="modal-products-img")
  .swiper-container.modal-products
    .swiper-wrapper
      .swiper-slide
        img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/4/9/149-home_default.jpg", class="swiper-modal-products-img")
      .swiper-slide
        img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/5/7/157-home_default.jpg", class="swiper-modal-products-img")
      .swiper-slide
        img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/5/9/159-home_default.jpg", class="swiper-modal-products-img")
      .swiper-slide
        img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/6/4/164-home_default.jpg", class="swiper-modal-products-img")
      .swiper-slide
        img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/7/0/170-home_default.jpg", class="swiper-modal-products-img")
      .swiper-slide
        img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/7/9/179-home_default.jpg", class="swiper-modal-products-img")
  .modal-products-detail
    .modal-products-container-title
      h2.modal-products-title LOREM IPSUM DOLOR
    .modal-products-container-price
      span.modal-products-price $23.90
    p.modal-products-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eros sapien, tempus non odio ac, egestas fringilla nulla. Mauris non felis sed velit lacinia mollis. Sed vel elit commodo, pulvinar mi vel
    .modal-products-size-container
      label.modal-products-size-label Size
      select.modal-products-size-select
        option S
        option M
        option L
        option XL
    .modal-products-color-container
      label.modal-products-color-label Color
      input(type="radio", class="modal-products-radio-white-color") 
      input(type="radio", class="modal-products-radio-black-color") 
    .container-qty 
      .container-arrow-up-increment-qty-img
        img(src="/assets/arrow/arrow.png", class="arrow-up-increment-qty-img")
      .container-arrow-down-decrement-qty-img
        img(src="/assets/arrow/arrow.png", class="arrow-down-decrement-qty-img")
      label.modal-products-qty-label Quantity
      input(type="text", class="qty-input")
      .modal-products-add-to-cart Add to Cart
  .modal-close X
  img(src="/assets/arrow/arrow.png", class="swiper-modal-products-arrow-up")
  img(src="/assets/arrow/arrow.png", class="swiper-modal-products-arrow-down")