ul.offer  
  .container-offer-product-title
    h3.offer-product-title Offer Products
  .container-offer-product-img
    img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/2/0/4/204-cart_default.jpg", id="offer-products-img")
  p.offer-product-desc Suspendisse At Dolor
  .offer-product-item-price
    span.offer-discount $23.30
    span.offer-undiscount $19.12 
  ul.container-offer-countdown
    li.offer-countdown-item
      p.number-days 120
      .text-days DAYS
    li.offer-countdown-item
      p.number-hours 1
      .text-hours HOURS
    li.offer-countdown-item
      p.number-minutes 
      .text-minutes MIN
    li.offer-countdown-item
      p.number-seconds
      .text-seconds SEC
    a(href="javascript:(void)", class="offer-link-all-product") All Products