.products-onsale.clearfix
  h4.products-onsale-title OTHER PRODUCTS
  ul.products-item-ul-onsale
    li.products-item-li-onsale.1one
      img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/4/9/149-home_default.jpg", class="products-img-onsale 1one")
      img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/5/0/150-home_default.jpg", class="products-img-hovered-onsale 1one")
      .products-info-hovered-onsale.1one
        .products-info-add-to-cart-onsale.1one.hidden-in-mobile
          a(href="javascript:void(0)", class="products-info-add-to-cart-link-onsale") Add to Cart 
        .products-info-eye-quick-view-onsale.1one.hidden-in-mobile
          p.products-info-eye-quick-view-onsale-text Quick View
        .products-info-eye-style-onsale.1one.hidden-in-mobile 
          img(src="/assets/eye/eye.png", class="products-info-eye-style-img-onsale 1one")
        .products-info-text-onsale.1one
          span.products-info-text-new New
          p.products-info-text-new-onsale On Sale!
        .products-info-rate-onsale.1one
          img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
          img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
          img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
          img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")        
          img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")    
      .products-description-onsale.1one
        p.products-item-title-onsale Lorem Ipsum Dolor
        p.products-price-and-shipping-onsale $23.90
    li.products-item-li-onsale.2two
      img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/4/9/149-home_default.jpg", class="products-img-onsale 2two")
      img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/5/0/150-home_default.jpg", class="products-img-hovered-onsale 2two")
      .products-info-hovered-onsale.2two
        .products-info-add-to-cart-onsale.2two.hidden-in-mobile
          a(href="javascript:void(0)", class="products-info-add-to-cart-link-onsale") Add to Cart 
        .products-info-eye-quick-view-onsale.2two.hidden-in-mobile
          p.products-info-eye-quick-view-onsale-text Quick View
        .products-info-eye-style-onsale.2two.hidden-in-mobile 
          img(src="/assets/eye/eye.png", class="products-info-eye-style-img-onsale 2two")
        .products-info-text-onsale.2two
          span.products-info-text-new New
          p.products-info-text-new-onsale On Sale!
        .products-info-rate-onsale.2two
          img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
          img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
          img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
          img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")        
          img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")    
      .products-description-onsale.2two
        p.products-item-title-onsale Lorem Ipsum Dolor
        p.products-price-and-shipping-onsale $23.90
    li.products-item-li-onsale.3three
      img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/4/9/149-home_default.jpg", class="products-img-onsale 3three")
      img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/5/0/150-home_default.jpg", class="products-img-hovered-onsale 3three")
      .products-info-hovered-onsale.3three
        .products-info-add-to-cart-onsale.three3.hidden-in-mobile
          a(href="javascript:void(0)", class="products-info-add-to-cart-link-onsale") Add to Cart 
        .products-info-eye-quick-view-onsale.3three.hidden-in-mobile
          p.products-info-eye-quick-view-onsale-text Quick View
        .products-info-eye-style-onsale.3three.hidden-in-mobile 
          img(src="/assets/eye/eye.png", class="products-info-eye-style-img-onsale 3three")
        .products-info-text-onsale.3three
          span.products-info-text-new New
          p.products-info-text-new-onsale On Sale!
        .products-info-rate-onsale.3three
          img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
          img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
          img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
          img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")        
          img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")    
      .products-description-onsale.3three
        p.products-item-title-onsale Lorem Ipsum Dolor
        p.products-price-and-shipping-onsale $23.90
    li.products-item-li-onsale.4fourth
      img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/4/9/149-home_default.jpg", class="products-img-onsale 4fourth")
      img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/5/0/150-home_default.jpg", class="products-img-hovered-onsale 4fourth")
      .products-info-hovered-onsale.4fourth
        .products-info-add-to-cart-onsale.4fourth.hidden-in-mobile
          a(href="javascript:void(0)", class="products-info-add-to-cart-link-onsale") Add to Cart 
        .products-info-eye-quick-view-onsale.4fourth.hidden-in-mobile
          p.products-info-eye-quick-view-onsale-text Quick View
        .products-info-eye-style-onsale.4fourth.hidden-in-mobile 
          img(src="/assets/eye/eye.png", class="products-info-eye-style-img-onsale 4fourth")
        .products-info-text-onsale.4fourth
          span.products-info-text-new New
          p.products-info-text-new-onsale On Sale!
        .products-info-rate-onsale.4fourth
          img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
          img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
          img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")
          img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")        
          img(src="/assets/star/star-fill.png", class="products-info-rate-onsale-img")    
      .products-description-onsale.4fourth
        p.products-item-title-onsale Lorem Ipsum Dolor
        p.products-price-and-shipping-onsale $23.90