.products-other-onsale.clearfix
  ul.products-item-other-onsale
    li.sub-banner
      ul.sub-banner-content
        li.sub-banner-content-li
          .banner-inner
            a(href="javascript:void(0)", class="banner-inner-link") #[img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/cms/sub-banner-1.jpg", class="banner-inner-img")]
            .products-item-other-onsale-detail
              p.products-item-other-onsale-detail-title Fully Satisfied
              p.products-item-other-onsale-detail-description SALE 50% ALL SOFA
        li.sub-banner-content-li
          .banner-inner
            a(href="javascript:void(0)", class="banner-inner-link") #[img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/cms/sub-banner-2.jpg", class="banner-inner-img")]
            .products-item-other-onsale-detail
              p.products-item-other-onsale-detail-title Capri Wooden chair
              p.products-item-other-onsale-detail-description WEDDING FLOWERS