li.products-item-li.1one
  img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/4/9/149-home_default.jpg", class="products-img 1")
  img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/5/0/150-home_default.jpg", class="products-img-hovered 1")
  .products-info-hovered.1one
    .products-info-add-to-cart.1one.hidden-in-mobile
      a(href="javascript:void(0)", class="products-info-add-to-cart-link") Add to Cart
    .products-info-eye-quick-view.1one.hidden-in-mobile
      p.products-info-eye-quick-view-text Quick View
    .products-info-eye-style.1one.hidden-in-mobile
      img(src="/assets/eye/eye.png", class="products-info-eye-style-img 1one")
    .products-info-text.1one
      span.products-info-text-new New
      p.products-info-text-new-onsale On Sale !
    .products-info-rate.1one
      img(src="/assets/star/star-fill.png", class="products-info-rate-img")
      img(src="/assets/star/star-fill.png", class="products-info-rate-img")
      img(src="/assets/star/star-fill.png", class="products-info-rate-img")
      img(src="/assets/star/star-fill.png", class="products-info-rate-img")
      img(src="/assets/star/star-fill.png", class="products-info-rate-img")
  .products-description.1one
    p.products-item-title Lorem Ipsum Dolor
    p.products-price-and-shipping $23.90
li.products-item-li.2two
  img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/5/4/154-home_default.jpg", class="products-img 2")
  img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/5/7/157-home_default.jpg", class="products-img-hovered 2")
  .products-info-hovered.2two
    .products-info-add-to-cart.2two.hidden-in-mobile
      a(href="javascript:void(0)", class="products-info-add-to-cart-link") Add to Cart
    .products-info-eye-quick-view.2two.hidden-in-mobile
      p.products-info-eye-quick-view-text Quick View
    .products-info-eye-style.2two.hidden-in-mobile
      img(src="/assets/eye/eye.png", class="products-info-eye-style-img 2two")
    .products-info-text.2two
      span.products-info-text-new New
      p.products-info-text-new-onsale On Sale !
    .products-info-rate.2two
      img(src="/assets/star/star-fill.png", class="products-info-rate-img")
      img(src="/assets/star/star-fill.png", class="products-info-rate-img")
      img(src="/assets/star/star-fill.png", class="products-info-rate-img")
      img(src="/assets/star/star-fill.png", class="products-info-rate-img")
      img(src="/assets/star/star-fill.png", class="products-info-rate-img")
  .products-description.2two
      p.products-item-title Lorem Ipsum Dolor
      p.products-price-and-shipping $23.90
li.products-item-li.3three
  img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/5/9/159-home_default.jpg", class="products-img 3")
  img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/6/2/162-home_default.jpg", class="products-img-hovered 3")
  .products-info-hovered.3three
    .products-info-add-to-cart.3three.hidden-in-mobile
      a(href="javascript:void(0)", class="products-info-add-to-cart-link") Add to Cart
    .products-info-eye-quick-view.3three.hidden-in-mobile
      p.products-info-eye-quick-view-text Quick View
    .products-info-eye-style.3three.hidden-in-mobile
      img(src="/assets/eye/eye.png", class="products-info-eye-style-img 3three")
    .products-info-text.3three
      span.products-info-text-new New
      p.products-info-text-new-onsale On Sale !
    .products-info-rate.3three
      img(src="/assets/star/star-fill.png", class="products-info-rate-img")
      img(src="/assets/star/star-fill.png", class="products-info-rate-img")
      img(src="/assets/star/star-fill.png", class="products-info-rate-img")
      img(src="/assets/star/star-fill.png", class="products-info-rate-img")
      img(src="/assets/star/star-fill.png", class="products-info-rate-img")
  .products-description.3three
    p.products-item-title Lorem Ipsum Dolor
    p.products-price-and-shipping $23.90
li.products-item-li.4fourth
  img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/6/4/164-home_default.jpg", class="products-img 4")
  img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/p/1/6/8/168-home_default.jpg", class="products-img-hovered 4")
  .products-info-hovered.4fourth
    .products-info-add-to-cart.4fourth.hidden-in-mobile
      a(href="javascript:void(0)", class="products-info-add-to-cart-link") Add to Cart
    .products-info-eye-quick-view.4fourth.hidden-in-mobile
      p.products-info-eye-quick-view-text  Quick View
    .products-info-eye-style.4fourth.hidden-in-mobile
      img(src="/assets/eye/eye.png", class="products-info-eye-style-img 4fourth")
    .products-info-text.4fourth
      span.products-info-text-new New
      p.products-info-text-new-onsale On Sale !
    .products-info-rate.4fourth
      img(src="/assets/star/star-fill.png", class="products-info-rate-img")
      img(src="/assets/star/star-fill.png", class="products-info-rate-img")
      img(src="/assets/star/star-fill.png", class="products-info-rate-img")
      img(src="/assets/star/star-fill.png", class="products-info-rate-img")
      img(src="/assets/star/star-fill.png", class="products-info-rate-img")
  .products-description.4fourth
    p.products-item-title Lorem Ipsum Dolor
    p.products-price-and-shipping $23.90