.products-tab.clearfix
  ul.products-tab-item-ul
    li.products-tab-item
      a(href="javascript:void(0)", class="products-tab-link is-active-tab") Popular Products
    li.products-tab-item
      a(href="javascript:void(0)", class="products-tab-link") Latest Products
    li.products-tab-item
      a(href="javascript:void(0)", class="products-tab-link") Best Sellers