ul.services-item-ul
  li.service-item-li.ship
    .container-ship-img
      img(src="/assets/ship/ship.png", alt="ship", class="ship-img")
    p.service-item-title.ship free shipping
    p since those times we were
  li.service-item-li.truck
    .container-truck-img
      img(src="/assets/truck/truck.png", alt="truck", class="truck-img")
    p.service-item-title.truck easy to return
    p since those times we were
  li.service-item-li.speaker
    .container-speaker-img
      img(src="/assets/speaker/speaker.png", alt="speaker", class="speaker-img")
    p.service-item-title.speaker free support
    p since those times we were
  li.service-item-li.hand
    .container-hand-img
      img(src="/assets/hand/hand.png", alt="hand", class="hand-img")
    p.service-item-title.hand easy payment
    p since those times we were 