ul.furniture-sidebar-sub-menu 
  li.furniture-sidebar-sub-menu-li Table 
  ul.furniture-sidebar-sub-menu-table
    li.furniture-sidebar-sub-menu-li Computer Table
    li.furniture-sidebar-sub-menu-li Dining Table
    li.furniture-sidebar-sub-menu-li Study Table
    li.category-item-li Desks 
  ul.furniture-sidebar-sub-menu 
    li.furniture-sidebar-sub-menu-li Pero
    li.category-item-li Chair 
  ul.furniture-sidebar-sub-menu 
    li.furniture-sidebar-sub-menu-li Tools
    li.category-item-li Dog Bed