.swiper-container.home
  .swiper-wrapper
    .swiper-slide.home(style="background-image: url('https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/modules/df_mainslider/views/img/sample-2.jpg')")
      .caption-swiper-home
          h2.title-swiper-home Modern Furniture
          h2.desc-swiper-home New Sofa Comfort
          .hidden-in-mobile
            a(href="javascript:void(0)", class="swiper-button-link home") SHOP NOW
    .swiper-slide.home(style="background-image: url('https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/modules/df_mainslider/views/img/sample-1.jpg')")
      .caption-swiper-home
        h2.title-swiper-home Bespoke Furniture
        h2.desc-swiper-home A Truly High-End
          .hidden-in-mobile
            a(href="javascript:void(0)", class="swiper-button-link home") SHOP NOW
    .swiper-slide.home(style="background-image: url('https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/modules/df_mainslider/views/img/sample-3.jpg')")
      .caption-swiper-home
        h2.title-swiper-home Big Clearance Stock!
        h2.desc-swiper-home Incredible Bed Design
          .hidden-in-mobile
            a(href="javascript:void(0)", class="swiper-button-link home") SHOP NOW        
  .swiper-button-prev.home.hidden-in-mobile
    .home-swiper-arrow-left-container
      img(src="/assets/arrow-left/arrow-left.png", class="arrow-left-img")
  .swiper-button-next.home.hidden-in-mobile
    .home-swiper-arrow-right-container
      img(src="/assets/arrow-right/arrow-right.png", class="arrow-right-img")
                  
  .swiper-pagination