.swiper-container.brands
  .swiper-wrapper.brands
    .swiper-slide.brands
      img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/m/2.jpg", class="brands-image")
    .swiper-slide.brands
      img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/m/2.jpg", class="brands-image")            
    .swiper-slide.brands
      img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/m/2.jpg", class="brands-image")     
    .swiper-slide.brands
      img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/m/2.jpg", class="brands-image")
    .swiper-slide.brands
      img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/m/2.jpg", class="brands-image")
    .swiper-slide.brands
      img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/m/2.jpg", class="brands-image")
  .swiper-brands-arrow
    .swiper-brands-arrow-right
      img(src="/assets/arrow-right/arrow-right.png", class="swiper-brands-arrow-right-img")
    .swiper-brands-arrow-left
      img(src="/assets/arrow-left/arrow-left.png", class="swiper-brands-arrow-left-img")    