.swiper-container.blog-latest.clearfix
  h2.blog-latest-title Latest Post
  .swiper-blog-arrow
    .swiper-blog-arrow-left
      img(src="/assets/arrow-left/arrow-left.png", class="swiper-blog-arrow-left-img")
    .swiper-blog-arrow-right
      img(src="/assets/arrow-right/arrow-right.png", class="swiper-blog-arrow-right-img")
  .swiper-wrapper.blog-latest
    .swiper-slide.blog-latest
      .blog-latest-container
        .blog-latest-img-container
          img(src="/assets/images/art-chairs-color.jpg", class="blog-latest-img")
          span.blog-created 
            time.blog-date Dec 2018
        .blog-inner    
          .blog-user-inner
            h4.blog-title Urna pretium elit mauris cursus...
          .blog-user-icon
            img(src="/assets/user/user.png", class="user-icon-img")
            span Admin Admin
          .blog-love-icon
            img(src="/assets/love/love.png", class="love-icon-img")
            span Hit: 136
    .swiper-slide.blog-latest
      .blog-latest-container
        .blog-latest-img-container
          img(src="/assets/images/art-chairs-color.jpg", class="blog-latest-img")
          span.blog-created 
            time.blog-date Dec 2018
        .blog-inner    
          .blog-user-inner
            h4.blog-title Urna pretium elit mauris cursus...
          .blog-user-icon
            img(src="/assets/user/user.png", class="user-icon-img")
            span Admin Admin
          .blog-love-icon
            img(src="/assets/love/love.png", class="love-icon-img")
            span Hit: 136
    .swiper-slide.blog-latest
      .blog-latest-container
        .blog-latest-img-container
          img(src="/assets/images/art-chairs-color.jpg", class="blog-latest-img")
          span.blog-created 
            time.blog-date Dec 2018
        .blog-inner    
          .blog-user-inner
            h4.blog-title Urna pretium elit mauris cursus...
          .blog-user-icon
            img(src="/assets/user/user.png", class="user-icon-img")
            span Admin Admin
          .blog-love-icon
            img(src="/assets/love/love.png", class="love-icon-img")
            span Hit: 136
    .swiper-slide.blog-latest
      .blog-latest-container
        .blog-latest-img-container
          img(src="/assets/images/art-chairs-color.jpg", class="blog-latest-img")
          span.blog-created 
            time.blog-date Dec 2018
        .blog-inner    
          .blog-user-inner
            h4.blog-title Urna pretium elit mauris cursus...
          .blog-user-icon
            img(src="/assets/user/user.png", class="user-icon-img")
            span Admin Admin
          .blog-love-icon
            img(src="/assets/love/love.png", class="love-icon-img")
            span Hit: 136