ul.testimonial
  .container-testimonial-title 
    h3.testimonial-title Testimonial
  .swiper-container.testimonial
    .swiper-wrapper
      .swiper-slide
        .swiper-testimonial-img
          img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/cms/testimonial-1.png", class="testimonial-img")
          p.swiper-testimonial-author John Doe
          p.swiper-testimonial-job Web Designer
          p.swiper-testimonial-desc Lorem Ipsum Simply Dummt Text The Printing and TypeSetting Industry Ipsums Been The Industry's Standard Dummy Text Ever Since
      .swiper-slide
        .swiper-testimonial-img
          img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/cms/testimonial-2.png", class="testimonial-img")
          p.swiper-testimonial-author Robert 
          p.swiper-testimonial-job Web Developer
          p.swiper-testimonial-desc Lorem Ipsum Simply Dummt Text The Printing and TypeSetting Industry Ipsums Been The Industry's Standard Dummy Text Ever Since
      .swiper-slide
        .swiper-testimonial-img
          img(src="https://themedemos.aurawebsol.com/prestashop/addons1/38ethnic/img/cms/testimonial-3.png", class="testimonial-img")
          p.swiper-testimonial-author Anna
          p.swiper-testimonial-job Graphic Designer
          p.swiper-testimonial-desc Lorem Ipsum Simply Dummt Text The Printing and TypeSetting Industry Ipsums Been The Industry's Standard Dummy Text Ever Since
    .swiper-pagination.testimonial